.circle {
  fill-opacity: 0.95;
}

.circle:hover {
  opacity: 1;
  fill-opacity: 1;
  fill: gold;
  stroke-width: 10px;
  stroke: gold;
  z-index: 10000;
}

.text {
  font-weight: bold;
  font-size: calc(1vw + 1vh + 0.5vmin);
  fill: rgb(255, 255, 255);
}
